<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Index</title>
    <meta name='description' content='none'>
    <meta name='author' content='none'>
  </head>
  <body>
    <h1>Welcome</h1>
    <% if (typeof message === 'undefined'){ %>
      no messages
    <% } else { %>
      message: <%= message %>
    <% } %>
  </body>
</html>
