<!doctype html>
<html>
  <head>
    <title>Index</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <% if (typeof message === 'undefined'){ %>
      no messages
    <% } else { %>
      message: <%= message %>
    <% } %>
  </body>
</html>
